@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
span{
  display: inline-block;
}
/* NavBar */

.nav-bar {
  height: 50px;
  background: rgb(130, 12, 12);
  display: flex;
  align-items: center;
  padding: 0;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.nav-bar h2{
  color: white;
  font-size: 33px;
}
.nav-bar h3 {
  color: white;
  padding: 1rem;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
.login{
  display: flex;
  justify-items: flex-right;
}
.nav-bag {
  display: flex;
  align-items: center;
}
.container{
  display: flex;
}
.textbox{
  padding-top: 10px;
  margin: 10px;
  display: flex;
}
.textbox input{
  width: 300px;
  height: 30px;
}
.textbox button{
  background-color: rgb(0, 128, 128);
  color: white;
}
.filter{
  width: 180px !important;

    margin-right: 33px;
    margin-top: 10px;
    display: flex;
    /* float: left; */
    margin-left: -88px;
    position: relative;
    border-radius: 4px;
}
.heading{
    color: #000;
    font-size: 15px;
    padding: 8px 20px 8px 8px;
    display: block;
    width: 180px;
    z-index: 2;
    position: relative;
    border-radius: 4px 4px 0 0;
    background: #f2f2f2;
}
.listbox{
  border-radius: 0 0 4px 4px;
}
li{
  font-size: 14px;
  list-style: none;
  display: block;
  padding: 5px 0;
  line-height: 15px;
  word-break: break-word;
  -moz-word-wrap: break-word;
  word-wrap: break-word;
}
.lists{
  border: 1px solid #dadada;
    border-top: 0;
}
.productpage{
  margin : auto;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}